*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: black;
}
.container{
    border: 1px white solid;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.hour{
    font-size: 3rem;
    color: aqua;
    font-family: 'Orbitron', sans-serif;
}
.date{
    font-size: 3rem;
    color: rgb(0, 255, 149);
    font-family: 'Orbitron', sans-serif;
}
.text{
    font-size: 3rem;
    color: rgb(250, 253, 253);
    font-family: 'Orbitron', sans-serif;
}